<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.studentName}}" placeholder="First Name" name="studentName">
      <label for="floatingInput">Student Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.registerNo}}" placeholder="Last Name" name="registerNo">
      <label for="floatingInput">Register No:</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.department}}" placeholder="email@email.com" name="department">
      <label for="floatingInput">Department</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.admissionNo}}" placeholder="Phone" name="admissionNo">
      <label for="floatingInput">Admission no</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.dob}}" placeholder="Phone" name="dob">
      <label for="floatingInput">DOB</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.gender}}" placeholder="Phone" name="gender">
      <label for="floatingInput">Gender</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.religion}}" placeholder="Phone" name="religion">
      <label for="floatingInput">Religion</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.adhar}}" placeholder="Phone" name="adhar">
      <label for="floatingInput">Aadhar No</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.bloogGroup}}" placeholder="Phone" name="bloogGroup">
      <label for="floatingInput">Blood Group</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
      <label for="floatingInput">Phone No:</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="Phone" name="email">
      <label for="floatingInput">Email id</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.address}}" placeholder="Phone" name="address">
      <label for="floatingInput">Address</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.psw}}" placeholder="Phone" name="psw">
      <label for="floatingInput">Password</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit" >Submit</button>
  </div>