<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Student data</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.Username}} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Admissionno</th>
            <th scope="col">DOB</th>
            <th scope="col">Gender</th>
            <th scope="col">Religion</th>
            <th scope="col">Aadhar</th>
            <th scope="col">Address</th>
            <th scope="col">Department</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.Username}}</th>
            <td>{{this.Email}}</td>
            <td>{{this.Phoneno}}</td>
            <td>{{this.Admissionno}}</td>
            <td>{{this.DOB}}</td>
            <td>{{this.Gender}}</td>
            <td>{{this.Religion}}</td>
            <td>{{this.Aadhar}}</td>
            <td>{{this.Address}}</td>
            <td>{{this.Department}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
<br><br>
    </tr>
    <br><br>
 <form action="/download" enctype="multipart/form-data" method="post">
            <input type="file" name="image" accept='pdf/*' >
            <input type="submit"  value="Download">
        </form>  

    <br><br>
<form class="row g-3 needs-validation" method="POST" action="/studentmark" novalidate>
  {{> updatestudentmark}}
</form>
    </tr>
  {{/each}}
</div>